<div class="wrapperOut">
  <h3>UpperCasePipe</h3>
  <div class="wrapperIn">
    <p>{{ nombre | uppercase }}</p>
  </div>
</div>

<div class="wrapperOut">
  <h3>LowerCasePipe</h3>
  <div class="wrapperIn">
    <p>{{ nombre | lowercase }}</p>
  </div>
</div>

<div class="wrapperOut">
  <h3>KeyValuePipe</h3>
  <div class="wrapperIn">
    <ul>
      <li *ngFor="let player of players | keyvalue">
        {{ player.key }} {{ player.value }}
      </li>
    </ul>
  </div>
</div>
<div class="wrapperOut">
  <div class="wrapperIn">
    <ul>
      <li *ngFor="let actor of actors | keyvalue">
        <div class="circular">
          <img src="{{ actor.value }}" alt="" />
        </div>
        <p>{{ actor.key }}</p>
      </li>
    </ul>
  </div>
</div>

<div class="wrapperOut">
  <h3>JsonPipe</h3>
  <div class="wrapperIn">
    <p>{{ players | json }}</p>
  </div>
</div>

<div class="wrapperOut">
  <h3>CurrencyPipe</h3>
  <div class="wrapperIn">
    <p>
      <span>Total en euros: </span
      >{{ divisas.current.total | currency: "EUR":true }}
    </p>
    <hr />
    <p>
      <span>Total en dolares: </span
      >{{ divisas.current.total * 0.84 | currency }}
    </p>
  </div>
</div>

<div class="wrapperOut">
  <h3>TitleCasePipe</h3>
  <div class="wrapperIn contenido">
    <h1>{{ articulo.titulo | titlecase }}</h1>
    <p>{{ articulo.contenido }}</p>
  </div>
</div>

<div class="wrapperOut">
  <h3>DatePipe</h3>
  <div class="wrapperIn">
    <h1>{{ today | date: "dd-MM-yyyy" }}</h1>
  </div>
</div>
